.persons-container {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  
  .search-input {
    margin-bottom: 20px;
    padding: 5px;
    width: 250px; /* Reduced width for the search input */
    font-size: 14px; /* Smaller font size */
  }
  
  .person-form {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .form-input, .form-textarea {
    padding: 5px;
    font-size: 14px;
    width: 100px; /* Reduced width for form inputs */
  }
  
  .form-textarea {
    height: 30px; /* Smaller textarea height */
  }
  
  .form-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
  }
  
  .persons-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .persons-table th, .persons-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .persons-table th {
    background-color: #f2f2f2;
  }
  
  .persons-table td {
    text-align: center;
  }
  
  button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Modal Card */
  .modal-card {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .save-button, .cancel-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .save-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .cancel-button {
    background-color: #f44336;
    color: white;
  }
  
  .add-need-button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
  }